<!-- Create New Company Form -->
<div class="container-fluid">

	<form action="/company/add" method="post">
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<input type="text" class="form-control" id="name" placeholder="Enter Company Name" name="name"
						minlength="1" required />
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
		
				<button type="submit" class="btn btn-success">
					Add Company
				</button>
			</div>
		</div>
	</form>
</div>